.bottom_border {
    border-bottom: 1px solid var(--border);
}

html, body {
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
    width: 100%;
}

.comparison-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.comparison-option-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.comparison-option {
    width: 22%;
    margin: 5px;
    border-radius: 0.2rem;
}

.comparison-selected {
    border: 0.3rem solid white;
    border-radius: 0.3rem;
	-webkit-box-shadow: 1px 0 10px 3px rgba(0,0,0,0.2);
	box-shadow: 1px 0 10px 3px rgba(0,0,0,0.2);
}

.comparison-interactive-container {
    display: flex;
    /*flex-direction: column;*/
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.comparison-interactive-meta {
    display: flex;
    font-family: "San Francisco Mono", "SF Mono", "Monaco", "Robot Mono", monospace;
    flex-direction: column;
    align-items: flex-end;
    align-self: flex-start;
    border-radius: 0.8rem;
    margin: 15px;
    margin-top: 20px;
    padding: 5px;
}

.comparison-interactive-img-container {
    width: 65%;
    margin: 15px;
	position: relative;
}

.comparison-interactive-img-magnifying-glass {
	position: absolute;
    border: 3px solid white;
    border-radius: 0.1rem;
    cursor: none;
    /*Set the size of the magnifier glass:*/
    width: 6rem;
    height: 6rem;
	-webkit-box-shadow: 1px 0 10px 3px rgba(0,0,0,0.2);
	box-shadow: 1px 0 10px 3px rgba(0,0,0,0.2);
}

.comparison-interactive-img {
    border-radius: 0.2rem;
}

.comparison-output-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.comparison-output-img {
    flex: 25%;
    width: 100%;
    border-radius: 0.2rem;
}

.comparison-output-img-container {
    display:flex;
    flex-direction: column;
    width: 23%;
    margin: 5px;
}

.comparison-output-img-container > p {
    margin-top: 0.8rem;
    font-weight: bold;
}

code {
    font-family: "Monaco", "Roboto Mono", monospace;
    border-radius: 0.5rem;
    border: 1px solid lightgrey;
    /* need to ovewrite highlight.js theme a little */
    background: rgba(100,100,100,.05) !important;
}

footer {
    flex-shrink: 0;
    margin-top: 30px;
    padding: 60px 0;
    width: 100%;
    background: rgba(100,100,100,.08);

    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 40px 0;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.hover-dark:hover {
    color: lightgrey;
}

.banner-img {
    height: 100%;
    max-height: 200px;
    margin-bottom: 2px;
}

.img-slider-container {
}

.img-comp-container {
  position: relative;
  height: 200px; /*should be the same height as the images*/
	margin: 0 auto;
}

.img-comp-img {
  position: absolute;
  width: auto;
  height: auto;
  overflow:hidden;
}

.img-comp-img img {
  display:block;
  vertical-align:middle;
}

.img-comp-slider {
  position: absolute;
  z-index:9;
  cursor: ew-resize;
  /*set the appearance of the slider:*/
  width: 40px;
  height: 40px;
  background-color: #2196F3;
  opacity: 0.7;
  border-radius: 50%;
}

/* Device = Low Resolution Tablet, Mobile (Landscape) | Screen = b/w 481px to 767px */
@media (max-width: 767px) {
	.comparison-interactive-meta > p {
		font-size: 0.8rem;
		margin-bottom: 0.15rem;
	}

	.comparison-interactive-img-magnifying-glass {
        width: 4.5rem;
        height: 4.5rem;
	}

    .comparison-output-img-container {
        width: 40%;
        max-width: 40%;
    }
}
